albumentations
datasets
einops
gpustat
huggingface_hub[cli]
imwatermark
lightning[extra]
lmdb
numpy==1.23.5
open_clip_torch
opencv-python
scipy
tensorboard
timm
torch
torchinfo
torchmetrics[image]
torchvision
torchviz
tqdm
transformers
types-PyYAML
typing
xformers
